/* todo: reorder CSS to use Grouped by Type model https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/ */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  /* default font size will be 16px */
  background-color: #fff;
  color: #222;
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
}

.main {
  margin: 1rem auto;
  width: 85%;
}

.center {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}

i {
  /*   we don't want to send click events to font icons */
  pointer-events: none;
}

nav {
  border-bottom: 2px solid #000;
  height: 5rem;
  position: relative;
  width: 100%;
}

nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  height: 100%;
}

nav a {
  display: inline-block;
  height: 100%;
  font-size: 2rem;
  padding: calc(1rem - 2px) 2rem;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  background-color: #222;
  color: #fff;
  text-decoration: underline;
}



/* Accessibility-related styling */
.skip-link:focus {
  color: #222;
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.sronly,
.skip-link:not(:focus) {
  /* https://labs.levelaccess.com/index.php/Offscreen_Text */
  position: absolute !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}



a:focus,
button:focus,
input:focus,
[tabindex]:focus,
.focused {
  outline: 2px dotted #000;
}
